{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/notifier.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <!-- ここにサイドメニュー -->
      <ul class="menu">
        <li class="brand">
        </li>

        <li class="menu-item">
          <div class="notifier new">
            <i class="bell fa fa-bell-o" aria-hidden="true">
              <div class="badge">20</div>
            </i>
          </div>
        </li>
        <li class="menu-item">
          <div class="notifier green">
            <i class="bell fa fa-envelope-o" aria-hidden="true">
              <div class="badge">5</div>
            </i>
          </div>
        </li>
        <li class="menu-item">
          <i class="fa fa-list-ul" aria-hidden="true"></i>ブック一覧
        </li>
        <li class="menu-item">
          <i class="fa fa-comments" aria-hidden="true"></i>ディスカッション
        </li>
        <li class="menu-item">
          <i class="fa fa-user" aria-hidden="true"></i>アカウント設定
        </li>
        <li class="menu-item">
          <i class="fa fa-question-circle" aria-hidden="true"></i>ヘルプ
        </li>
      </ul>
      <!-- ここにコンテンツ -->

      <div class="contents">
        <div id="form" class="form">
          <form class="form-inline">
            <fieldset>
              <label>
                Name:
                <input type="text" id="name" maxlength="10" class="form-control">
              </label>
              <label>
                Message:
                <input type="text" id="message" class="form-control">
              </label>
              <button id="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>
        </div>
        <div id="log" class="log">
        </div>
        CODEPREPの新しいメニューを再発明してみた
      </div>

    </div>
  </body>
</html>
